<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!--<targets async="true"> 
		<target name="logfile" xsi:type="File" fileName="${basedir}/logs/file{####}.txt"
				maxArchiveFiles="10"
				archiveAboveSize="10240"
				layout="${message}"
				/>
	</targets>-->

	<targets async="true"> 
		<target name="logconsole" xsi:type="coloredconsole"/>
	</targets>

	<rules>
		<logger name="*" writeTo="logconsole" level="Warn"></logger>
		<!-- Level List: Trace,Debug,Fata -->
	</rules>
</nlog>